---
---
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url({{ "/assets/fonts/Cutive_Mono/CutiveMono-Regular.ttf" | relative_url }}) format('truetype');
}
@font-face {
  font-family: 'Fanwood Text';
  font-style: normal;
  font-weight: 400;
  src: local('Fanwood Text'), local('FanwoodText-Regular'), url({{ "/assets/fonts/Fanwood_Text/FanwoodText-Regular.ttf" | relative_url }}) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url({{ "/assets/fonts/Open_Sans/OpenSans-Regular.ttf" | relative_url }}) format('truetype');
}
