<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
            </li>
            <li>
              <a href="{{ "/feed.xml" | relative_url }}">Feed</a>
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <nav class="site-nav">
          <div class="trigger">
            <ul class="pages-list">
              {% for my_page in site.pages %}
                {% if my_page.title and my_page.hidden != true %}
                <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
              <a class="page-link" href="https://github.com/rradczewski/ymmv/tree/master/_drafts">Drafts</a>
            </ul>
          </div>
        </nav>

      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
<script defer src="{{ "/assets/progressive-images.js" | relative_url }}"></script>
<script defer src="{{ "/assets/headline-anchors.js" | relative_url }}"></script>
