<div class="progressive-image-container">
  <div class="progressive-image-placeholder">&nbsp;</div>
  {% capture image_preview %}{% imagesrc 250xauto {{ include.image }} %}{% endcapture %}
  <img
    class="{{ include.classes }} progressive-image-preview"
    alt="{{ include.image_alt }}"
    role="presentation"
    src="{% base64 {{ image_preview }} %}"
  />
  <img
    class="{{ include.classes }} progressive-image"
    alt="{{ include.image_alt }}"
    role="presentation"
    src="{% imagesrc 1000xauto {{ include.image }} %}"
    srcset="{% imagesrc 600xauto {{ include.image }} %} 600w,
            {% imagesrc 800xauto {{ include.image }} %} 800w,
            {% imagesrc 1000xauto {{ include.image }} %} 1000w"
    sizes="(max-width: 600px) 100vw,
           (max-width: 799px) 100vw,
           800px"
  />
</div>
<noscript>
  <img class="{{ include.classes }}" alt="{{ include.image_alt }}" role="presentation" src="{{ include.image | relative_url }}" />
</noscript>
