<div class="image-container {{ include.container_classes }}" style="{{ include.style }}">
  <figure>
    <img
      class="{{ include.classes }}"
      alt="{{ include.image_alt }}"
      role="presentation"
      src="{% imagesrc 1000xauto {{ include.image }} %}"
      srcset="{% imagesrc 400xauto {{ include.image }} %} 400w,
          {% imagesrc 600xauto {{ include.image }} %} 600w,
          {% imagesrc 800xauto {{ include.image }} %} 800w,
          {% imagesrc 1000xauto {{ include.image }} %} 1000w"
    />
    <figcaption class="img-caption">
      {{ include.image_alt }}{%- if include.source %} (<a
        href="{{ include.source}}"
        >Source</a
      >){% endif %}
    </figcaption>
  </figure>
</div>
