/**
 * Site header
 */
.site-header {
}

.site-title {
  font-family: "Cutive Mono", monospace;
  text-shadow: #999 0px 3px 10px;
  text-align: center;
  display: block;
  font-size: 72px;
  font-weight: 300;
  line-height: 56px;
  margin: 80px 0;

  @include media-query($on-palm) {
    margin: 40px 0 20px 0;
  }


  &,
  &:visited {
    color: $grey-color-dark;
  }

  .site-title-text {
    &:before {
      content: '{';
    }
    &:after {
      content: '};';
    }
  }
}

.site-nav {
  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.pages-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
  width: 33%;
}

.footer-col-1 {
  text-align: left;
}
.footer-col-2 {
  text-align: center;
}
.footer-col-3 {
  text-align: center;
}

.read-more {
  &:visited, &:active {
    color: #aaa;
  }
  color: #aaa;
}


@include media-query($on-palm) {
  .footer-col {
    text-align: center !important;
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  @include media-query($on-palm) {
    font-size: 12px;
  }
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: 32px;
    line-height: 36px;
  }
}

.post-image-wrapper {
  width: 120%;
  overflow: hidden;
  padding: 10px 5px;
  margin-left: -10%;

  @include media-query($on-laptop) {
    width: 100%;
    margin-left: 0px;
  }
}

.post-image {
  box-shadow: #999 0px 3px 10px;
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: Georgia,medium-content-serif-font,Cambria,"Times New Roman",Times,serif;
  font-size: 22px;
  line-height: 1.58;
  letter-spacing: -0.02em;

  @include media-query($on-laptop) {
    font-size: 20px;
  }

  todo {
    display: block;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: red;
    border-left: 3px solid red;
    &:before {
      content: 'TODO: ';
    }
  }

  @include media-query($on-palm) {
    font-size: 18px;
  }

  img {
    display: block;
    margin: 30px auto;
    box-shadow: #999 0px 3px 10px;
  }

  h2, h3, h4, h5 {
    font-family: $base-font-family;
    padding-top: 30px;
  }

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 30px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
