---
layout: default
---

<div class="home">

   {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.image-listing %}
          <div
            class="post-background-image"
            style="background-image:
            url('{% imagesrc 500xauto {{ post.image-listing }} %}')"
          >&nbsp;</div>
        {% elsif post.image %}
          <div
            class="post-background-image"
            style="background-image:
            url('{% imagesrc 500xauto {{ post.image }} %}')"
          >&nbsp;</div>
        {% endif %}
        <p class="post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a class="read-more" href="{{ post.url | relative_url }}">more...</a></p>
      </li>
    {% endfor %}
  </ul>

</div>
<script defer src="{{ "/assets/post-background-image-in-viewport.js" | relative_url }}"></script>
