---
layout: default
---
{% assign minutesToRead = content | number_of_words | divided_by: 130 %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if site.author %} • <a href="https://twitter.com/{{ site.twitter_username }}"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author }}</span></span></a>{% endif %}
      {% unless page.hide_reading_time %}
        {% if minutesToRead != 0 %} • {{ minutesToRead }} minutes to read{% endif %}
      {% endunless %}
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.image %}
    <div class="post-image-wrapper">
      {% include progressive-image.html image_alt=page.image_alt classes="post-image" image=page.image %}
    </div>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  <div class="post-share">
    <p>
      <a href="http://www.twitter.com/share?text={{ 'Check out "' | append: page.title | append: '" by @rradczewski' | cgi_escape }}&url={{ site.url | append: page.url | cgi_escape }}"><button>Share on <span class="icon icon--twitter">{% include icon-twitter.svg %}</span></button></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: page.url | cgi_escape }}"><button>Share on <span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></button></a>
    </p>
  </div>
  {% unless page.hide_related %}
  <div class="post-related">
    <p><strong>More articles on YMMV:</strong>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </p>
  </div>
  {% endunless %}
</article>
