---
layout: default
---
{% assign minutesToRead = content | number_of_words | divided_by: 130 %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if site.author %} • <a href="https://twitter.com/{{ site.twitter_username }}"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author }}</span></span></a>{% endif %}
      {% if minutesToRead != 0 %} • {{ minutesToRead }} minutes to read{% endif %}
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.image %}
    <div class="post-image-wrapper">
      {% if page.image_preview %}
        <div class="progressive-image-container">
          <img class="post-image progressive-image-preview" alt="{{ page.image_alt }}" role="presentation" src="{{ page.image_preview | relative_url }}" />
          <img class="post-image progressive-image" alt="{{ page.image_alt }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{ page.image | relative_url }}" role="presentation" />
        </div>
        <noscript>
          <img class="post-image" alt="{{ page.image_alt }}" role="presentation" src="{{ page.image | relative_url }}" />
        </noscript>
      {% else %}
        <img class="post-image" alt="{{ page.image_alt }}" role="presentation" src="{{ page.image | relative_url }}" />
      {% endif %}
    </div>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

<script>
function loadImage(container) {
  const preview = container.querySelector('.progressive-image-preview');
  const image = container.querySelector('.progressive-image');

  image.onload = function() {
    image.classList.add('progressive-image-loaded');
  }
  image.src = image.dataset.src;
}

document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.progressive-image-container').forEach(loadImage);
})
</script>
